asgiref
beautifulsoup4
certifi
charset-normalizer
Django
django-bootstrap-v5
django-rest-framework
django-widget-tweaks
djangorestframework
idna
openpyxl
pdfkit
PyMySQL
python-dateutil
pytz
PyYAML
requests
six
soupsieve
sqlparse
tzdata
urllib3
fontawesomefree
Pillow