<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/manutencao.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-..." crossorigin="anonymous">
    <title>Manutenção</title>
</head>

<body>
    <main>
        <div id="conteiner">
            <h1>Estamos em manutenção</h1>
            <i class="fal fa-wrench"></i>
            <span>Estamos trabalhando para melhorar a sua experiência!</span>
        </div>
    </main>
</body>

</html>