<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/manutencao.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-..." crossorigin="anonymous">
    <title>Manutenção</title>
</head>

<body style="background-color: whitesmoke;">
    <main>
        <div id="conteiner" style="display: flex; flex-direction: column; border: 1px solid rgba(155, 155, 155, 0.342); border-radius: 30px; padding: 20px 40px; background-color: white;">
            <h1 style="text-align: center; text-transform: uppercase; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-bottom: 30px;">Estamos em manutenção</h1>            
            <img src="/static/images/casa-do-trabalhador.png" style="width: 280px; margin-left: auto; margin-right: auto;" alt="">
            
            <span style="text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: 50px;">Estamos trabalhando para melhorar a sua experiência!</span>
        </div>
    </main>
</body>

</html>