{% extends 'template.html' %}
{% block title %}{{tipo_cadastro}} Vaga{% endblock %}
{% block css %}
{{block.super}}
{% endblock%}
{% block main %}
{% load widget_tweaks %}   
{% load bootstrap5 %}  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<div class="row pt-5 mt-5">
    <div class="col-8 mx-auto pt-5 mt-5">
        {% if success.0 %}
        <div class="row px-4 mb-3">
            <div class="col d-flex bg-success py-2">
                <p class="m-auto text-white">{{success.1}}</p>
            </div>
        </div>
        {% endif %}                  
        <div class="row mb-5">    
            <div class="col d-flex w-100 text-center flex-column py-5 my-5">
                <h2 class="text-uppercase">Meus encaminhamentos</h2>
                <!-- listar encaminhamentos -->
                <div class="row mt-5">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Vaga</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Encaminhamento</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for encaminhamento in encaminhamentos %}
                                <tr>
                                    <td>
                                        <a target="_blank" href="{% url 'vagas:visualizar_vaga' encaminhamento.vaga.id %}">
                                            {{encaminhamento.vaga.cargo}}
                                        </a>
                                    </td>
                                    <td>{{encaminhamento.dt_inclusao|date:"d/m/Y"}}</td>
                                    <td>
                                        <a target="_blank" href="{% url 'vagas:encaminhamento' encaminhamento.id 0 %}">
                                            <i class="fa-solid fa-print"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}  